/*--------------------------------------------*/
/* reset */
/*--------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------------------------*/
/* common */
/*--------------------------------------------*/
@font-face {
  font-family: avenir;
  src: url(https://s0.2mdn.net/creatives/assets/4242349/avenir-next-bold-webfont.woff);
}

@font-face {
  font-family: WinnerSansCondBold;
  src: url(https://s0.2mdn.net/creatives/assets/4242349/WinnerSansCondBold.otf);
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
}

canvas {
  display: block;
  top: 0;
  left: 0;
}

#banner {
  /* bigbox */
  width: 300px;
  height: 250px;
  overflow: hidden;
  position: relative;
  background-color: black;
  -webkit-text-size-adjust: 100%;
  opacity: 1;
  cursor: pointer;
}

#banner > a {
  width: inherit;
  height: inherit;
}

.hide {
  opacity: 0;
}

canvas, .text, .frame, .outline, img, p {
  position: absolute;
}

img {
  vertical-align: top;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.outline {
  z-index: 99;
  width: inherit;
  height: inherit;
  border: 1px solid black;
  pointer-events: none;
  position: absolute;
}

.frame {
  width: inherit;
  height: inherit;
  opacity: 0;
  top: 0;
  left: 0;
}

.retina {
  -webkit-transform: translate(0px, 0px) scale(0.5, 0.5);
  -ms-transform: translate(0px, 0px) scale(0.5, 0.5);
  transform: translate(0px, 0px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  image-rendering: -webkit-optimize-contrast;
}

#legalBtn:hover ~ #legalContent {
  opacity: 1;
}

#legalContent {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  font-size: 10px;
  z-index: 90;
  opacity: 0;
  font-weight: normal;
  line-height: 14px;
  transition: opacity 0.3s;
  pointer-events: none;
}

#legalBtn {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  opacity: 0;
  width: 36px;
  height: 25px;
  background-color: red;
  display: none;
}

.title {
  width: 100%;
  position: absolute;
  -webkit-font-kerning: none;
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  text-transform: uppercase;
}

#bluewedge2, #redwedge2 {
  visibility: hidden;
}

#bluewedge1, #redwedge1 {
  -webkit-transform-origin: 0% 100% !important;
  -ms-transform-origin: 0% 100% !important;
  transform-origin: 0% 100% !important;
  -webkit-transform: translate(0px, 0px) scale(1, 0);
  -ms-transform: translate(0px, 0px) scale(1, 0);
  transform: translate(0px, 0px) scale(1, 0);
}

.color-green {
  color: #3aa43c;
}

.color-grey {
  color: #dadada;
}

.font-sport {
  font-family: WinnerSansCondBold;
}

.bg_cover {
  opacity: 0;
}

#bonus {
  text-align: center;
  width: 100%;
}

.proline_logo {
  -webkit-mask-image: linear-gradient(to left, transparent 0%, black 15%);
}

.star {
  -webkit-transform-origin: 600px 90px;
  -ms-transform-origin: 600px 90px;
  transform-origin: 600px 90px;
  opacity: 0;
}

.proline_plus {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}

.shadow {
  -webkit-filter: drop-shadow(0px 0px 9px #3aa43c);
  filter: drop-shadow(0px 0px 9px #3aa43c);
}

.bg_border {
  -webkit-filter: drop-shadow(0px 0px 11px #3aa43c);
  filter: drop-shadow(0px 0px 11px #3aa43c);
}

.bg-border-always-there {
  opacity: 1;
}

#banner {
  width: 300px;
  height: 250px;
}

.title {
  font-size: 20px;
  letter-spacing: 0px;
}

#t1a {
  -webkit-transform: translate(0px, 34px);
  -ms-transform: translate(0px, 34px);
  transform: translate(0px, 34px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

#t1b {
  -webkit-transform: translate(0px, 54px);
  -ms-transform: translate(0px, 54px);
  transform: translate(0px, 54px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

#t2, #t3 {
  -webkit-transform: translate(0px, 73px);
  -ms-transform: translate(0px, 73px);
  transform: translate(0px, 73px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

#olg {
  width: 136px;
  height: 69px;
  -webkit-transform: translate(0px, 180px);
  -ms-transform: translate(0px, 180px);
  transform: translate(0px, 180px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

#legalBtn {
  -webkit-transform: translate(260px, 210px);
  -ms-transform: translate(260px, 210px);
  transform: translate(260px, 210px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

#bonus {
  text-align: left;
  -webkit-transform: translate(121px, 74px);
  -ms-transform: translate(121px, 74px);
  transform: translate(121px, 74px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.star {
  -webkit-transform: translate(-397px, -39px) scale(0.4, 0.4);
  -ms-transform: translate(-397px, -39px) scale(0.4, 0.4);
  transform: translate(-397px, -39px) scale(0.4, 0.4);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.proline_plus {
  -webkit-transform: translate(190px, 39px) scale(0.5) rotate(0deg);
  -ms-transform: translate(190px, 39px) scale(0.5) rotate(0deg);
  transform: translate(190px, 39px) scale(0.5) rotate(0deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.cloud {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.playa {
  -webkit-transform: translate(-162px, -192px) scale(0.22, 0.22);
  -ms-transform: translate(-162px, -192px) scale(0.22, 0.22);
  transform: translate(-162px, -192px) scale(0.22, 0.22);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

/*# sourceMappingURL=main.css.map */
