
#banner{	
	width: 160px;
	height: 600px;
}


.title{
	font-size: 18px;
	letter-spacing: .2px;	
	// color: red;
	line-height: 18px
}	


#t1a{
	@include pos(0, 111);
}

#t1b{
	@include pos(15, 128);
	width: 130px;
	// color: red;
}

#t2, #t3{
	@include pos(16, 142);
	width: 130px;
	// color: red;
}

#olg{
	width: 83px;
	height: 69px;
	@include pos(0, 546);
}

#legalBtn{
	@include pos(123, 555);	
}

.flare1{
	@include pos(-80, 268);

}

.flare2{
	@include pos(50, 346);
	
}

#bonus{
	font-size: 23px;
	@include pos(0, 159);
}


.proline_plus{	
	@include pos-scale(119, 108, .5);
}

.star{	
	// opacity: 1;
	@include pos-scale(-470, 30, .4);
}