
#banner{	
	width: 300px;
	height: 600px;
}


.title{
	font-size: 26px;
	letter-spacing: 0px;	
	// color: red;
}	


#t1a{
	@include pos(0, 80);
}

#t1b{
	@include pos(0, 108);
	// width: 200px;
	// color: red;
}

#t2, #t3{
	@include pos(0, 129);
	// color: red;
}

#olg{
	width: 136px;
	height: 69px;
	@include pos(0, 536);
}

#legalBtn{
	@include pos(253, 540);	
}



#bonus{
	font-size: 29px;
	text-align: left;
	letter-spacing: .4px;
	@include pos(112, 129);
	// opacity: 1 !important;
	// color: red;
}


.proline_plus{	
	@include pos-scale-rotate(208, 76, .5, 0);
}

.star{	
	// opacity: 1;
	@include pos-scale(-375, 4, .4);
}

.cloud{
	@include pos-scale(0, 0, 1);
	transform-origin: 50% 70%;
}