
#banner{	
	width: 970px;
	height: 650px;
}



.title{
	text-align: center;
	font-size: 49px;
	letter-spacing: 1.7px;	
	// color: red !important;
}	


#t1a{
	
	@include pos(0, 89);
	
}



#t1b{	
	@include pos(0, 139);	
	// font-size: 56px;
	// width: 340px;
}

#t2, #t3{
	@include pos(0, 183);
	
	// opacity: 1 !important;
	// color: red !important;
}

#t2{
	// width: 330px;
}

#olg{
	width: 266px;
	height: 146px;
	@include pos(0, 516);
}



#legalBtn{
	width: 42px;
	@include pos(895, 562);	
	// opacity: 1;
}



#bonus{
	font-size: 29px;
	text-align: left;
	letter-spacing: .4px;
	@include pos(112, 129);
	// opacity: 1 !important;
	// color: red;
}


.proline_plus{	
	@include pos-scale-rotate(591, 88, .5, 0);
}

.star{	
	// opacity: 1;
	
	@include pos-scale(24, 29, .4);
}

.cloud{
	@include pos-scale(0, 0, 1);
	transform-origin: 70% 100%;
}

.proline{
	// display: none;
}