@import './mixins.scss';
@import './reset.scss';



/*--------------------------------------------*/
/* common */
/*--------------------------------------------*/


@font-face {
	font-family: avenir;
	src: url(https://s0.2mdn.net/creatives/assets/4242349/avenir-next-bold-webfont.woff);
  }
  
  @font-face {
	font-family: WinnerSansCondBold;
	src: url(https://s0.2mdn.net/creatives/assets/4242349/WinnerSansCondBold.otf);

  }


html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
	color: inherit;
}

body{
	margin: 0;
	padding: 0;
	background-color: #EFEFEF;
}

canvas{
	display: block;
	top:0;
	left:0;
}

#banner{
	/* bigbox */
	width: 300px;
	height: 250px;
	overflow: hidden;
	position: relative;
	background-color: black;
	-webkit-text-size-adjust: 100%;
	opacity: 1;
	cursor: pointer;
	& > a {
		width: inherit;
		height: inherit;
	}
}



.hide{
	opacity: 0;
}

canvas, .text, .frame, .outline, img, p{
	position: absolute;
}

img{
	vertical-align:top;
	 -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.outline{
	z-index: 99;
	width: inherit;
	height: inherit;
	border: 1px solid black;
	pointer-events: none;
	position: absolute;
}

.frame{
	width: inherit;
	height: inherit;
	opacity: 0;
	top:0;
	left:0;
}




.retina{
	@include pos-scale(0, 0, .5);
	transform-origin: 0 0 ;
	image-rendering: -webkit-optimize-contrast;
	
}




#legalBtn:hover ~ #legalContent {
	opacity: 1;
	
}

#legalContent{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.9);
	@include pos(0, 0);
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 10px;
	font-size: 13px;
	z-index: 90;
	opacity: 0;
	font-weight: normal;
	line-height: 16px;
	transition: opacity .3s;
	pointer-events: none;
}


#legalBtn{	
	@include pos(0, 0);
	opacity: 0;
	width: 36px;
	height: 25px;
	background-color: red;
	display: none;
}



.title{
	width: 100%;
	position: absolute;			
	font-kerning: none;
	-webkit-text-rendering: optimizeSpeed;
	text-rendering: optimizeSpeed;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	text-transform: uppercase;
	
	
}


#bluewedge2, #redwedge2 {
    visibility:hidden;
}

#bluewedge1, #redwedge1 {
    transform-origin: 0% 100% !important;
    @include prefix( translate(0px, 0px) scale(1, 0) );
}

.color-green{
	color: #3aa43c;
}

.color-grey{
	color: #dadada;
}

.font-sport{
	font-family: WinnerSansCondBold;
	
	
}

.bg_cover{
	opacity: 0;
}



#bonus{		
	text-align: center;
	width: 100%;
	
}

.proline_logo{

	-webkit-mask-image: linear-gradient(to left, transparent 0%, black 15%);
	
}

.star{
	transform-origin: 600px 90px;
	opacity: 0;
}

.proline_plus{
	transform-origin: 50% 50%;
	opacity: 0;	
}



.shadow{	
	
	-webkit-filter: drop-shadow(0px 0px 9px #3aa43c);
	filter: drop-shadow(0px 0px 9px #3aa43c);
}

.bg_border{	
	
	-webkit-filter: drop-shadow(0px 0px 11px #3aa43c);
	filter: drop-shadow(0px 0px 11px #3aa43c);
}

.bg-border-always-there{
	opacity: 1;
}


.flare{
	// border: 1px solid red;
}

// .cloud{
// 	@include pos-scale(0, 0, 1);
// 	transform-origin: 50% 100%;
// }
