<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">

		
		
		

        <img  class="retina bg" src="../_common/images/300x250/bg.jpg"/>

        
        
        <img  class="retina hide playa whole" src="../_common/images/300x250/playa.png"/>
        <img  class="retina hide bg_cover" src="../_common/images/300x250/bg_cover.png"/>

        <img  class="flare flare1 hide" src="../_common/images/300x250/flare.png"/>
        <img  class="flare flare2 hide" src="../_common/images/300x250/flare.png"/>


        <img  class="retina proline_new" src="../_common/images/300x250/proline_new.png"/>
        <img  class="retina proline_logo" src="../_common/images/300x250/proline_logo.png"/>
        <img  class="retina proline_plus" src="../_common/images/300x250/proline_plus.png"/>
        


		

		<% include ../_common/templates/olg_logo %>

        <p class="title color-green font-sport t1" id="t1a">THE PLUS SIDE</p>
        <p class="title color-grey font-sport t1" id="t1b">OF SPORTS BETTING IS HERE</p>


        <p class="title color-grey font-sport" id="t2a"></p>

        <img  class="retina get" src="../_common/images/300x250/get.png"/>
        <span class="title color-green font-sport" id="bonus"></span>

        <img  class="retina" id="cta" src="../_common/images/300x250/cta.png"/>
        <img  class="retina" id="legal-btn" src="../_common/images/300x250/legal-btn.png"/>
        
		


        <img  class="retina" src="../_common/images/300x250/line.png"/>

        <% include ../_common/templates/legal %>

        

	</div>
	
	<div id="pn-bg-exit"></div>
	
</div>